* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 640px;
  min-width: fit-content;
  margin: auto;
}

.intro-chunk {
  max-width: 384px;
  padding: 24px;
}

header {
  padding: 24px 0px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding: 64px 0px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 8px 24px;
}

p {
  line-height: 1.5;
}

main p {
  font-size: 1.25rem;
}

header p {
  font-size: 1.5rem;
}

h1 {
  line-height: 2;
}

.card h2 {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 40px;
  margin: 0px 0px 0px -40px;
  max-width: max-content;
}
